@using VerotMorin.PreciousGames.Web.Models.EvaluationModels
@model EvaluationViewModel

@{
    ViewBag.Title = "Suppression";
}

<h2>Supression d'une évaluation</h2>

<h3>Êtes-vous sûr de vouloir le supprimer ?</h3>
<div>
    <h4>Évaluation de @Model.Game.Name par @Model.EvaluatorName :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvaluatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvaluatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="text-end">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-secondary" })
            <input class="btn btn-danger" type="submit" value="Supprimer"/>
        </div>
    }
</div>
