@using VerotMorin.PreciousGames.Web.Models.EvaluationModels
@model EvaluationViewModel

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Évaluation de @Model.Game.Name par @Model.EvaluatorName :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvaluatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvaluatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

    </dl>
</div>

<div class="text-end">
    @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Éditer", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>
