@model VerotMorin.PreciousGames.Web.Models.EvaluationModels.EvaluationViewModel

@{
    ViewBag.Title = "Édition";
}

<h2>Édition</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Évaluation de @Model.Game.Name par @Model.EvaluatorName :</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EvaluatorName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.EvaluatorName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EvaluatorName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mark, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Mark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mark, "", new { @class = "text-danger" })
        </div>

        <div class="mt-4 form-group text-end">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-secondary" })
            <input class="btn btn-primary" type="submit" value="Sauvegarder" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
