@using VerotMorin.PreciousGames.Web.Models.GameModels
@model GameEditionViewModel

@{
    ViewBag.Title = "Nouveau jeu";
}

<h2>Ajouter un jeu</h2>


@using (Html.BeginForm()) 
{
    
 
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group my-2">
        @Html.LabelFor(model => model.GameViewModel.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GameViewModel.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GameViewModel.Name, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group my-2">
        @Html.LabelFor(model => model.GameViewModel.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GameViewModel.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GameViewModel.Description, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group my-2">
        @Html.LabelFor(model => model.GameViewModel.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GameViewModel.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GameViewModel.ReleaseDate, "", new { @class = "text-danger" })
        </div>

    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GameViewModel.Kind.Id)

    <div class="form-group my-2">
        @Html.LabelFor(model => model.GameViewModel.Kind, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Kinds,
            new SelectList(ViewBag.Kinds, new SelectList(ViewBag.Kinds, "Name")))
        </div>

    </div>

    <div class="form-group my-2">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-secondary" })
            <input type="submit" value="Créer" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
