@using VerotMorin.PreciousGames.Web.Models.GameModels
@model GameViewModel

@{
    ViewBag.Title = $"Supprimer {Model.Name}";
}

<h2>Supprimer @Model.Name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.ReleaseDate)
    @Html.HiddenFor(model => model.EditorId)
    @Html.HiddenFor(model => model.KindId)

    <h6 class="my-2">
        Êtes-vous sûr ?
        Cela va supprimer les évaluations et expériences associées. <br />
    </h6>

    <div class="text-end">
        @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-secondary" })
        <input class="btn btn-danger" type="submit" value="Supprimer"/>
    </div>
}
