@using VerotMorin.PreciousGames.Web.Models.GameModels
@model IndexViewModel

@{
    ViewBag.Title = "Jeux";
}

<script type="text/javascript">
    function searchAjax() {
        const search = $('#searchInput').val();

        $.ajax({  
            type: "GET",  
            url: `@Url.Action("Search")?search=${search}`,
            success: htmlResponse => {  
                $('#list').html(htmlResponse);
            },  
            error: function () {  
                alert("Error while inserting data");  
            }  
        });  
    }
</script>

<h2>Jeux</h2>

<div class="d-flex justify-content-between">
    @Html.ActionLink("Ajouter un jeu", "Create")
    
    <div class="d-flex align-items-center gap-2">
        @Html.Label("Recherche", new { @class = "form-label" })
        @Html.TextBox("Recherche", null, new { id = "searchInput", @class = "form-control" })
        <button class="btn btn-primary" onclick="searchAjax()">Rechercher</button>
    </div>
</div>

<div id="list">
    @Html.Partial("_List", Model.Games)
</div>


<h6>Il y a @Model.GameCount jeu(x) au total.</h6>
