@using VerotMorin.PreciousGames.Web.Models.HomeModels
@model IndexViewModel

@{
    ViewBag.Title = "Accueil";
}

<h1>Precious Games</h1>
<h2>Soyez le bienvenue la seule plate-forme accessible depuis les grottes !</h2>

<br />
<br />

<h3>Le top des jeux : </h3>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GamesTopRated.GetEnumerator().Current.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamesTopRated.GetEnumerator().Current.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamesTopRated.GetEnumerator().Current.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamesTopRated.GetEnumerator().Current.KindId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamesTopRated.GetEnumerator().Current.EditorId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GamesTopRated)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KindId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorId)
            </td>
        </tr>
    }
</table>

<br />
<hr />
<br />

<h3>Les derniers avis :</h3>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastEvaluations.GetEnumerator().Current.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEvaluations.GetEnumerator().Current.EvaluatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEvaluations.GetEnumerator().Current.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEvaluations.GetEnumerator().Current.Mark)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.LastEvaluations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluatorName)
            </td>
        </tr>
    }
</table>