@using VerotMorin.PreciousGames.Web.Models.EditorModels
@model EditorViewModel

@{
    ViewBag.Title = "Nouvel éditeur";
}

<h2>Ajout d'un éditeur</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="my-2">
        @Html.LabelFor(model => model.Name, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="text-end">
        @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-secondary" })
        <input class="btn btn-primary" type="submit" value="Créer" />
    </div>
}
