@model VerotMorin.PreciousGames.Web.Models.EditorModels.EditorViewModel

@{
    ViewBag.Title = @Model.Name;
}

<h2>Détail de l'éditeur @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div class="text-end">
    @Html.ActionLink("Retour", "Index", null, new {@class = "btn btn-secondary"})
    @Html.ActionLink("Éditer", "Edit", new { id = Model.Id }, new {@class = "btn btn-primary"})
</div>
