@using VerotMorin.PreciousGames.Web.Models.EditorModels
@model IndexViewModel

@{
    ViewBag.Title = "Éditeurs";
}

<h2>Éditeurs</h2>

<p>
    @Html.ActionLink("Ajouter un éditeur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Editors)
        </th>
        <th></th>
    </tr>

@foreach (EditorViewModel editor in Model.Editors) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => editor.Name)
        </td>
        <td>
            @Html.ActionLink("Éditer", "Edit", new { id = editor.Id }) |
            @Html.ActionLink("Détails", "Details", new { id = editor.Id }) |
            @Html.ActionLink("Supprimer", "Delete", new { id = editor.Id })
        </td>
    </tr>
}

</table>

<h6>Il y a @Model.EditorCount éditeur(s) au total.</h6>
