@model VerotMorin.PreciousGames.Web.Models.ExperienceModels.ExperienceViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression d'une expérience</h2>

<h3>Êtes-vous sûr de vouloir le supprimer ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percentage)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


        <div class="text-end">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-secondary" })
            <input class="btn btn-danger" type="submit" value="Supprimer"/>
        </div>
    }
</div>
